
.holiday-request-message {
    border-radius: 1rem;
    padding: 1rem;
    display: block;
}
#userWelcomeBox {
    display: block;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 12px;
    font-size: 2rem;
}